.body {
    display: flex;
}

.header {
    /* temp-change */
    /* border: 3px solid red; */

    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.header-logo,
.header-links {
    /* temp-change */;
    /* border: 3px solid green; */
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 18px;
}

ul {
    /* removing bullets */
    list-style-type: none;

    /* removing left indent and margins */
    padding: 0;
    margin: 0;

    text-align: center;
}

li {
    display: inline;
    padding: 10px;
}

a {
    /* removing underline from links */
    text-decoration: none;

    color: #E5E7EB;
}


.sec1 {
    display: flex;
    background-color: #1F2937;

    justify-content: center;
    gap: 40px;
    padding: 100px;
}

.sec1-text,
.sec1-img {
    /* border: 3px solid green; */
    max-width: 400px;
    flex: 1;
}

.sec1-main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.sec1-sub-text {
    font-size: 18px;
    color: #E5E7EB;

}

.sec1-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px;
}

.sec1-img {
    display: flex;
    background-color: grey;
    color: #E5E7EB;

    justify-content: center;
    align-items: center;
}

.sec2 {
    /* border: 3px solid green; */
    padding-top: 50px;
    padding-bottom: 100px;
}

.sec2-title {
    /* border: 3px solid rebeccapurple; */
    display: flex;
    font-size: 36px;
    font-weight: bolder;

    justify-content: center;
}

.sec2-content{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.imageNtext .image {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.imageNtext {
    /* border: 3px solid red; */
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    gap: 5px;

    text-align: center;
}

.sec3,
.sec3 .quote,
.sec3 .thor {
    /* border: 3px solid black; */
    background-color: #E5E7EB;

}

.sec3 {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.sec3-container {
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
}

.sec3 .quote {
    flex: 1;
    font-size: 36px;
    font-style: italic; 
    color: #1F2937;
    max-width: 700px;
}

.sec3 .thor {
    flex: 1;
    display: flex;
    font-weight: bold;
    max-width: 700px;
    justify-content: end;
}

